html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0;
    padding: 0;
}

.main {
    margin-bottom: 140px;
    margin-top: 25px;
}

/* .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
    color: #FFFFFF;
} */

.texto_simples {
	text-indent: 35px;
}

.texto_justificado {
    text-align: justify;
    text-indent: 30px;
}

.texto_branco {
    color: #FFFFFF;
}

/*footer*/
footer { width:100%; min-height:130px; padding:10px 0px 0px 0px ; position: absolute; bottom: 0;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;}
.social_footer_ul li { padding-left:15px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}